{% extends 'expirybot/base.html' %}

{% block title_inner %}Expirybot makes it easier to use PGP{% endblock %}

{% block content %}

  <div id="index">

    <div class="container">
      <div class="jumbotron text-center col-lg-10 col-lg-offset-1">
        <h1>Test, fix and monitor your PGP&nbsp;keys</h1>
        <h2>Expirybot makes it easier to keep using PGP</h2>
        <br>

        <a class="btn btn-primary btn-lg" href="{% url 'users.monitor-email-address' %}">Start monitoring</a></p>

      </div>
    </div>

    <div class="container">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="lead">
          Journalists, human rights defenders, lawyers, developers and proactive citizens rely on open source cryptography to keep us all safe.
        </p>
        <!--
        <h2>A mission to secure all the things</h2>

        <h2>Expirybot helps you use PGP safely</h2>

        <h2>User experience over perfect security</h2>

        -->
          <h2>Start using Expirybot</h2>
          <p class="lead">
          <a href="{% url 'keys.test-pgp-key' %}"><b>Test</b> — show me how my key compares to best practice</a><br>
          <a href="{% url 'users.monitor-email-address' %}"><b>Monitor</b> — tell me about new PGP keys with my email address</a>
          </p>
      </div>

    </div>


  </div>


{% endblock %}
