{% extends 'expirybot/base.html' %}

{% block title_inner %}Expirybot makes it easier to use PGP{% endblock %}

{% block content %}

  <div id="index">

    <div class="container">
      <div class="jumbotron text-center col-lg-10 col-lg-offset-1">
        <h1>Expirybot makes it<br> easier to use&nbsp;PGP</h1>

        <h2><i>OpenPGP Ain't Dead</i></h2>

        <p class="lead">
          Journalists, human rights defenders, lawyers, developers and proactive citizens rely on this technology to keep us all safe.
        </p>


      </div>
    </div>

    <div class="container">
      <div class="col-lg-10 col-lg-offset-1">
        <!--
        <h2>A mission to secure all the things</h2>

        <h2>Expirybot helps you use PGP safely</h2>

        <h2>User experience over perfect security</h2>

        -->
          <h2>Start using Expirybot</h2>
          <p class="lead">
            <a href="{% url 'users.monitor-email-address' %}">Find out when a PGP key is added to the public keyservers with your email address</a>
          </p>
      </div>

    </div>


  </div>


{% endblock %}
