@import 'bootstrap-3.3.7/bootstrap.scss';
@import 'flatly-3.3.7-bootswatch/_bootswatch.scss';

// Note that bootswatch-themes also provides _variables.scss which must be
// copied over the top of bootstrap-3.3.4/bootstrap/_variables.scss



.help-block ul.errorlist {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;

  li {
    font-weight: bold;
  }
}

#fixmycrypto-landing {
    th:not(:first-child) {
      width: 15%;
      text-align: center;
    }

    td:not(:first-child) {
      text-align: center;

      .fa {
        padding-top: 15px;
        color: green;
        font-size: 150%;
      }
    }


    td {
      padding-top: 10px;

      .price {
        font-weight: bold;
        font-size: 120%;
      }


      .feature-name {
        font-size: 120%;
        font-weight: bold;
      }

    }
}

#monitor-email-address {

  .lead {
    padding: 30px 0 30px 0;
  }

  input[type="email"] {
    @media(min-width: $screen-lg-min) {
      width: 400px;
    }
  }

  form {

  }

  section {
    padding-top: 50px;

  }

}

#add-email-confirm-send {
  form {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#add-email-address {
  input[type="email"] {
    @media(min-width: $screen-lg-min) {
      width: 400px;
    }
  }

  form {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

#prove-key-ownership {
  textarea {
    min-height: 100%;

  }

}

#user-settings {

  section.email-addresses {
    ul {
      padding-top: 20px;
      padding-bottom: 20px;

      font-size: 20px;
    }

  }

  ul.possible-pgp-keys, ul.my-pgp-keys {
    padding-left: 0;

    li {
      list-style-type: none;
    }

    > li {
      padding: 10px;
      background: rgb(245, 245, 245);
      margin-bottom: 5px;
    }

    ul.uids {
      padding-left: 0;
    }
  }

  .checkbox {
    input {
      width: 24px;
      height: 24px;
    }

    label {
      font-size: 24px;

      span {
        padding-left: 20px;

      }
    }
  }

  .settings-content {
    padding-left: 40px;
  }

  padding-bottom: 50px;



  button {
    margin-top: 20px;
  }
}


#pgp-key-detail {
  #alert-container {
    padding-left: 0;
    padding-right: 0;
  }

  .alert {
    margin-bottom: 0;
    border-bottom: 1px solid white;
    border-radius: 0;

    a {
      color: inherit;
    }

    &.alert-gray {
      background-color: #ecf0f1;

    }
  }

  .alert:last-of-type {
    margin-bottom: 20px;  // TODO: get from bootstrap
  }

  input[type="email"] {
    @media(min-width: $screen-lg-min) {
      width: 400px;
    }
  }

}

#key-test-results {
  .table {
    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

  }

}




footer {
  margin-top: 30px;
  background-color: $brand-primary;
  padding: 50px 0 50px 0;
  color: $navbar-default-color;

  a {
    color: $navbar-default-link-color;
  }

  a:hover {
    color: $navbar-default-link-color;
  }
}
