@import 'bootstrap';
@import 'bootswatch';

footer {
  padding: 50px 0 50px 0;
  background-color: gray;
}

#monitor-email-address {

  .lead {
    padding: 30px 0 30px 0;
  }

  input[type="email"] {
    @media(min-width: $screen-lg-min) {
      width: 400px;
    }
  }

  form {

  }

  section {
    padding-top: 50px;

  }

}
