{% extends 'expirybot/base.html' %}
{% load widget_tweaks %}

{% block content %}

  <div id="monitor-email-address" class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">

        <h1>Confirm email address<br><small>{{ email_address }}</small></h1>

        <p class="lead">
          The email address will be added to the account <b>{{ user.username }}</b>.<br>
          <small>
            <a href="{% url 'users.login' %}?next={{ request.path }}">Log in with a different account.</a>
          </small>
        </p>

        <form class="form" method="post">
          {% csrf_token %}

          <input class="btn btn-default btn-lg" type="submit" value="Send verification email" />

        </form>

      </div>
    </div>

  </div>


{% endblock %}
