{% extends 'expirybot/base.html' %}
{% load widget_tweaks %}

{% block content %}

  <div id="add-email-confirm-send" class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">

        <h1>Is this email address correct?<br><small>{{ email_address }}</small></h1>

        <form class="form" method="post">
          {% csrf_token %}

          <input class="btn btn-primary btn-lg" type="submit" value="Send verification email" />

        </form>

        {% if user.profile.is_temporary %}
          <p>
            Already got an account? <a href="{% url 'users.login' %}?next={{ request.path }}">Log in first</a> to add the email to your existing account.
          </p>
        {% else %}

          <p>
            The email address will be added to the account <b>{{ user.email }}</b>.<br>
              <a href="{% url 'users.login' %}?next={{ request.path }}">Log in with a different account.</a>
          </p>
        {% endif %}

      </div>
    </div>

  </div>


{% endblock %}
