{% extends 'expirybot/base.html' %}
{% load widget_tweaks %}

{% block content %}

  <div id="monitor-email-address" class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">

        {% if error_message %}

          <h1>{{ error_message }}</h1>

          <p class="lead">
            Failed to add email address to your account<br>

            <a href="{% url 'users.monitor-email-address' %}">Start again</a>
          </p>

        {% else %}

          <h1>Success!</h1>

          <p class="lead">
            <b>Expirybot will email {{ email_address }}</b> when PGP keys are added to the public keyservers.
          </p>

          <p>
            The email address was added to the account <b>{{ user }}</b>.
          </p>

          <p><a href="{% url 'users.settings' %}">View your account.</a></p>

        {% endif %}


      </div>
    </div>

  </div>


{% endblock %}
