{% extends 'expirybot/base.html' %}
{% load widget_tweaks %}

{% block content %}

  <div id="add-email-address" class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">

        {% if error_message %}

          <h1>{{ error_message }}</h1>

          <p class="lead">
            Failed to add email address to your account<br>

            <a href="{% url 'users.monitor-email-address' %}">Start again</a>
          </p>

        {% elif show_confirm_form %}

          <h1>Confirming email address...</h1>

          <form method="post">
            {% csrf_token %}

            <button class="btn btn-primary" type="submit">Confirm now</button>

          </form>

          <script>
            setTimeout(function() {
              document.forms[0].submit();
            }, 500);
          </script>

          </script>


        {% else %}

          <h1>Success!</h1>

          <p class="lead">
            <b>Expirybot will email {{ email_address }}</b> when PGP keys are added to the public keyservers.
          </p>

          <h2 class="h3">Add another email address</h2>

          <form class="form-inline" method="post" action="{% url 'users.monitor-email-address' %}">
            {% csrf_token %}

            {% with form.email_address as field %}
              <div class="form-group form-group-lg">
                {{ field|add_class:"form-control"|attr:"placeholder:e.g. your.name@example.com"|attr:"autofocus" }}

	         <input class="btn btn-default btn-lg" type="submit" value="Notify me" />
              </div>
            {% endwith %}
          </form>

          <p><a href="{% url 'users.settings' %}">View your account settings.</a></p>

        {% endif %}


      </div>
    </div>

  </div>


{% endblock %}
