{% extends 'expirybot/base.html' %}
{% load widget_tweaks %}

{% block title %}Settings{% endblock %}

{% block content %}

  <div id="admin-list-users" class="container">

    <h1>{{ user_profiles|length }} users</h1>

    <div class="row">

      <div class="col-sm-12">

        {% for user_profile in user_profiles %}

        <h2>{{ user_profile }}</h2>

        <ul>
        {% for email_address in user_profile.owned_email_addresses %}
        <li>{{ email_address }}</li>
        {% endfor %}
        </ul>


        {% endfor %}

      </div>
    </div>


  </div>
{% endblock %}
