{% extends 'expirybot/base.html' %}
{% load widget_tweaks %}

{% block title_inner %}Monitor your email address in the PGP keyservers{% endblock %}

{% block content %}

  <div id="monitor-email-address">

    <div class="jumbotron text-center">
      <div class="container">
        <h1>Monitor your email address</h1>

        <p class="lead">
          Find out when a PGP key is added to the keyservers with your email address.
        </p>

        <form class="form-inline" method="post">
          {% csrf_token %}

	  {{ form.non_field_errors }}

          {% with form.email_address as field %}
            <div class="form-group form-group-lg {% if field.errors %}has-error{% endif %}">
              <!--<input class="form-control" id="email" name="email" type="email" placeholder="e.g. your.name@example.com" autofocus />-->
              {{ field|add_class:"form-control"|attr:"placeholder:e.g. your.name@example.com"|attr:"autofocus" }}

	      <input class="btn btn-default btn-lg" type="submit" value="Notify me" />

              <span class="help-block text-left">
		{{ field.errors }}
              </span>

            </div>
          {% endwith %}
        </form>

      </div>
    </div>

  </div>


{% endblock %}
