{% extends 'expirybot/base.html' %}
{% load widget_tweaks %}

{% block title %}Settings{% endblock %}

{% block content %}

  <div id="user-settings" class="container">

    <h1>Settings for {{ user.email }}</h1>

    <div class="row">

      <div class="col-sm-6">

        <section>
          <h2>Notifications</h2>
          <form class="form form-horizontal" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <section class="feedback-requests">
              {% with form.receive_occasional_feedback_requests as field %}
                {% include 'partials/settings_checkbox.html' %}
              {% endwith %}
            </section>

            <section class="product-updates">
              {% with form.notify_product_updates as field %}
                {% include 'partials/settings_checkbox.html' %}
              {% endwith %}
            </section>

            <section class="notify-email-addresses">

              {% with form.notify_email_addresses as field %}
                {% include 'partials/settings_checkbox.html' %}
              {% endwith %}

            </section>

            <section class="expiry">
              {% with form.notify_expiry as field %}
                {% include 'partials/settings_checkbox.html' %}
              {% endwith %}
            </section>

            <button class="btn btn-primary btn-lg" type="submit">Save</button>

          </form>

        </section>

      </div>

      <div class="col-sm-6">

        <section class="email-addresses">
          <h2>Email addresses</h2>

          <p class="">
            You've proven that you can access emails sent to these email addresses.
          </p>

          <ul>
            {% for email_address in user.profile.owned_email_addresses %}
            <li>{{ email_address }}</li>
            {% empty %}
              <p>You haven't added any email addresses yet.</p>
            {% endfor %}
          </ul>
          <p><a href="{% url 'users.monitor-email-address' %}">Add an email address</a></p>
        </section>

      </div>

    </div>


  </div>
{% endblock %}
