{% extends 'expirybot/base.html' %}
{% load widget_tweaks %}

{% block title %}Settings{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">

        {% if sign_up_partial %}

          {% include sign_up_partial %}

        {% else %}

          <h1>Sign up</h1>
          <p>
            Already have an account? <a href="{% url 'users.login' %}?next={{ next }}">Login instead.</a>
          </p>

        {% endif %}

    <form class="form" method="post">
      {% include 'partials/form_inner.html' %}

      <button class="btn btn-default btn-lg" type="submit">Sign up</button>

    </form>

      </div>
    </div>

  </div>
{% endblock %}
