{% extends 'expirybot/base.html' %}

{% block title %}Status{% endblock %}

{% block content %}

  <div id="status" class="container">

    <h1>Status</h1>

    <div class="row">

      <div class="col-sm-12">

        <p>{{ num_keys }} keys</p>
        <p><a href="{% url 'admin:keys_brokenkey_changelist' %}">{{ num_broken_keys }} broken keys</a></p>

        <h2>Status tests</h2>
        <table class="table table-striped">
          <tbody>
            {% for test in tests %}

              <tr class="{% if not test.pass %}danger{% endif %}">
                <td>{{ test.slug }}</td>
                <td>{{ test.name }}</td>
                <td>{{ test.pass }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <h2>Daily histogram</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date </th>
              <th>Key updates</th>
              <th colspan="2">Updates recorded</th>
            </tr>
          </thead>

          <tbody>
            {% for row in daily_histogram %}
              <tr>
                  <td>{{ row.date|date:"Y-m-d" }}</td>
                  <td>{{ row.num_updates }}</td>
                  <td>{{ row.num_full }}</td>
                  <td>{{ row.percent_full }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>


  </div>
{% endblock %}
